.header {
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header-container {
  font-size: 1em;
  padding: 0 5%;
  font-family: $font-2;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & .header-right {
    text-align: right;
  }
  & h1 {
    font-family: $font-1;
    width: 80%;
    font-size: 6em;
    font-weight: 700;
    color: $secondary;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: -15px;
    // transform: rotate(-15deg);
    transform: skewX(-30deg);
  }
  & h2 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    margin-top: -20px;
    font-size: 1.5em;
    color: $secondary;
  }
  & h3 {
    font-size: 2em;
    font-weight: 600;
    color: rgb(43, 42, 42);
    padding-left: 1em;
  }
  @media only screen and (max-width: $break-small){
    font-size: .8em;
  }
}

.header-left {
  @media only screen and (max-width: $break-med){
    width: 100%;
  }
}

.header-right {  
  & p {
    color: $secondary;
    text-shadow: 1px 1px black;
    margin: 0;
    font-family: $font-2;
    font-weight: 800;
  }
  @media only screen and (max-width:$break-med){
   display: none;
  }
}

.header-contact {
  background: rgba(0, 0, 0, 0.719);
  font-size: 2em;
  padding: 0 20px;
  // border: 1px $secondary solid;
  border-radius: 5px;
}

.underbar {
  background: $medium;
  margin-bottom: 30px;
}

.underbar-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 15px;
  font-family: $font-2;
  font-weight: 700;
  font-style: italic;
  color: $secondary;
}

.navbar-nav {
  margin-left: auto;
  font-family: $font-1;
  font-weight: 700;
  & .nav-item {
    padding: 5px;
  }
  & .dropdown-menu {
    background: var(--gray-dark);
    border-radius: 0;
    border: none;
  }
  & .dropdown-item:hover {
    background: var(--gray-light);
    color: var(--yellow)
  }
  & .dropdown-item {
    color: white;
    font-family: $font-1;
  font-weight: 700;
  }
}


